/*التحكم في الصفحة كاملا*/
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	background: black;
	font-family: 'Cairo', sans-serif;
	color: white;
}
button{
	font-family: 'Cairo', sans-serif;
}

/*الصف العلوي*/
header{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	width: 98%;
	margin-right: 1%;
	margin-top: 8px;
	border-radius: 10px;
	background: rgba(90,105,185,0.6);
	border-bottom: 2px inset gray;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}

/*نص المطور*/
#pmd{
	font-family: "Audiowide", sans-serif;
	margin: 0;
	float: center;
	padding: 4px;
	margin-top: 13px;
	margin-bottom: 13px;
	font-size: 28px;
	background: linear-gradient(to right, red, blue, white);
	background-size: 200% auto;
	background-position: 100% 0%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: g;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-timing-function: linear;
}
@keyframes g{
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 50% 100%;
	}
}


/*الأزار داخل الصف  العلوي*/
header button{
	margin: 7px;
	margin-right: 3px;
	width: 27%;
	margin-top: 13px;
	font-size: 14px;
	margin-bottom: 13px;
	color: white;
	border-radius: 10px;
	padding: 4px;
	background: none;
	border: none;
	transition: 0.5s;
}
header button:hover{
	color: rgb(0 , 0 , 255);
}
a{
	text-decoration: none;
	color: red;
}

/*تواصل معنا*/
#contact-us-button{
	margin-top: 200px;
	position: fixed;
	margin-left: 1%;
	z-index: 999;
	width: 98%;
	height: 240px;
	background: rgba(90,105,185,0.6);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	display: none;
	transition: 0.5s;
}

#contact-us-button button{
	width: 80%;
	height: 40px;
	margin-top: 30px;
	border-radius: 10px;
	background: #4647AE;
	color: white;
	font-size: 16px;
	border: none;
	transition: 0.5s;
}
#contact-us-button button:hover{
	box-shadow: 0px 0px 8px 2px #4647AE;
}

/*الصورة العلوية*/
#img-header{
	width: 98%;
	margin-left: 1%;
	margin-top: 200px;
	border-radius: 10px;
}

h2{
	color: #2F2FE4;
	font-size:30px;
	width: 98%;
}

/*من نحن*/
#about h2{
	margin-top: 30px;
}

#about p {
	width: 98%;
	color: rgb(200 , 200 , 200);
	margin-top: 10px;
	font-size: 15px;
}

#about #p1{
	font-weight: bold;
}

/*خدمتنا*/
#service h2{
	margin-top: 70px;
}

/*صورة خدمتنا*/
#img-service{
	width: 98%;
	margin-left: 1%;
	margin-top: 20px;
	border-radius: 10px;
}

#service p{
	width: 98%;
	color: rgb(200 , 200 , 200);
	margin-top: 10px;
	font-size: 14px;
}

#service #p1{
	font-weight: bold;
}

/*تشمل خدمتنا*/
#service-includes h2{
	margin-top: 20px;
}

#service-includes{
	width: 98%;
	color: rgb(150 , 150 , 150);
	margin-top: 10px;
	font-size: 14px;
}

/*النص السفلي*/
#footer p{
	margin: 20px;
	margin-top: 40px;
	font-size: 11px;
	color: gray;
}